table
	width 100%
	margin-top 10px	
	
	thead

		tr
			&.titulo
				background-color color-base
				span
					color #fff
					padding-left 10px !important
				label
					color #fff
			th
				color #fff
				&.min
					width 100px					
				&.min-date
					width 130px

		&.centered
			th
				text-align center
	tbody
		tr
			td
				
				border 1px solid #D6D6D6
				&.min
					text-align center
					width 100px
					cursor pointer
					input
						transform scale(2)
						margin-top 15px

			&.is-active
				background-color color-hover	
	
	&.pointer
		
		tbody

			tr
				&:hover
					cursor pointer
					background-color color-hover

					td
						color #FFF

.is-hidden
	display none !important