icon-add = '\e61c'
icon-add-user = '\e973'
icon-align-bottom = '\e625'
icon-align-center-text = '\e028'
icon-align-left-text = '\e027'
icon-align-middle = '\e626'
icon-align-right-text = '\e029'
icon-allGrap = '\e62f'
icon-area-chart = '\f1fe'
icon-arrow = '\e616'
icon-asc = 	'\f161'
icon-backArrow = '\e629'
icon-badge = 	'\e601'
icon-bars = '\e628'
icon-begin = 	'\e605'
icon-bell = 	'\f0a2'
icon-blocked = '\ea0e'
icon-books = 	'\e920'
icon-border-bottom = '\f161'
icon-border-left = '\e60e'
icon-border-right = '\e60f'
icon-border-top = '\e610'
icon-calendar = '\e600'
icon-change = 	'\e602'
icon-chat = '\e61b'
icon-checkbox = '\e609'
icon-chevron-down =  '\f0a3'
icon-chevron-right = '\f079'
icon-clipboard = '\e9b8'
icon-colum = '\e61e'
icon-comment = 	'\f0e5'
icon-company = '\e903'
icon-container = '\e612'
icon-copy = '\e92c'
icon-correct = 	'\e607'
icon-cross = 	'\e117'
icon-cross-bold = '\ea0f'
icon-desc = '\f160'
icon-download = '\e933'
icon-emergency = '\e998'
icon-end = 	    '\e608'
icon-export = '\e622'
icon-folder = 	'\e60c'
icon-group = 	'\f037'
icon-help = 	'\f02c'
icon-home = 	'\e606'
icon-image = '\f03e'
icon-key = '\e61d'
icon-line-chart = '\f201'
icon-listpoint = '\e9bb'
icon-lock = '\e62b'
icon-logout = '\f032'
icon-mail = '\f003'
icon-man-woman = '\e9de'
icon-medal = '\e621'
icon-menu = '\f05e'
icon-minus = '\e611'
icon-modify = '\e906'
icon-money = '\e61f'
icon-move-vertical = '\e617'
icon-newSection = '\e615'
icon-next = '\e604'
icon-phone = '\e900'
icon-pie-chart = '\f200'
icon-plus = '\f05d'
icon-point = '\e61a'
icon-preview = 	'\e007'
icon-print = '\e624'
icon-profile = 	'\e923'
icon-radius = '\e627'
icon-random = '\e618'
icon-save = '\f0c7'
icon-search = 	'\f02e'
icon-send = '\e62c'
icon-settings = '\f085'
icon-side = '\e614'
icon-spinner = 	'\e603'
icon-square = '\f096'
icon-text = '\f031'
icon-time = '\e62a'
icon-trash = '\e619'
icon-upload = '\e934'
icon-user = 	'\e60b'
icon-user-tie = '\e976'
icon-users = 	'\e972'
icon-vcard = 	'\e60a'



icon-bold = 	'\e907'
icon-color = 	'\e901'
icon-italic = 	'\e909'
icon-link = 	'\e905'
icon-redo = 	'\e904'
icon-underLine = '\e908'
icon-undo = 	'\e902'

.icon-color::before
	content icon-color
	icomoon()
.icon-undo::before
	content icon-undo
	icomoon()
.icon-redo::before
	content icon-redo
	icomoon()
.icon-link::before
	content icon-link
	icomoon()
.icon-bold::before
	content icon-bold
	icomoon()
.icon-underline::before
	content icon-underline
	icomoon()
.icon-italic::before
	content icon-italic
	icomoon()








icomoon()
	font-family 'icomoon'
.icon-add::before
	content icon-add
	icomoon()
.icon-add-user::before
	content icon-add-user
	icomoon()
.icon-align-bottom::before
	content icon-align-bottom
	icomoon()
.icon-align-center-text::before
	content icon-align-center-text
	icomoon()
.icon-align-left-text::before
	content icon-align-left-text
	icomoon()
.icon-align-middle::before
	content icon-align-middle
	icomoon()
.icon-align-right-text::before
	content icon-align-right-text
	icomoon()	
.icon-allGrap::before
	content icon-allGrap
	icomoon()
.icon-area-chart::before
	content icon-area-chart
	icomoon()
.icon-arrow::before
	content icon-arrow
	icomoon()
.icon-asc::before
	content icon-asc
	icomoon()
.icon-back::before
	font-family 'FontAwesome'
	content '\f112'
.icon-backArrow::before
	content icon-backArrow
	icomoon()
.icon-badge::before
	content icon-badge
	icomoon()
.icon-bars::before
	content icon-bars
	icomoon()
.icon-begin::before
	content icon-begin
	icomoon()
.icon-bell::before
	content icon-bell
	icomoon()
.icon-blocked::before
	content icon-blocked
	icomoon()
.icon-books::before
	content icon-books
	icomoon()
.icon-border-bottom::before
	content icon-border-bottom
	icomoon()
.icon-border-left::before
	content icon-border-left
	icomoon()
.icon-border-right::before
	content icon-border-right
	icomoon()
.icon-border-top::before
	content icon-border-top
	icomoon()
.icon-calendar::before
	content icon-calendar
	icomoon()
.icon-calc::before
	font-family 'FontAwesome'
	content '\f1ec'
.icon-change::before
	content icon-change
	icomoon()
.icon-chat::before
	content icon-chat
	icomoon()
.icon-checkbox::before
	content icon-checkbox
	icomoon()
.icon-chevron-down::before
	content icon-chevron-down
	icomoon()
.icon-chevron-right::before
	content icon-chevron-right
	icomoon()
.icon-clipboard::before
	content icon-clipboard
	icomoon()
.icon-colum::before
	content icon-Colum
	icomoon()
.icon-comment::before
	content icon-comment
	icomoon()
.icon-company::before
	content icon-company
	icomoon()
.icon-container::before
	content icon-container
	icomoon()
.icon-copy::before
	content icon-copy
	icomoon()
.icon-correct::before
	content icon-correct
	icomoon()
.icon-cross::before
	content icon-cross
	icomoon()
.icon-cross-bold::before
	content icon-cross-bold
	icomoon()
.icon-desc::before
	content icon-desc
	icomoon()
.icon-download::before
	content icon-download
	icomoon()
.icon-emergency::before
	content icon-emergency
	icomoon()
.icon-end::before
	content icon-end
	icomoon()
.icon-export::before
	content icon-export
	icomoon()
.icon-folder::before
	content icon-folder
	icomoon()
.icon-group::before
	content icon-group
	icomoon()
.icon-help::before
	content icon-help
	icomoon()
.icon-home::before
	content icon-home
	icomoon()
.icon-image::before
	content icon-image
	icomoon()
.icon-key::before
	content icon-key
	icomoon()	
.icon-line-chart::before
	content icon-line-chart
	icomoon()
.icon-listpoint::before
	content icon-listpoint
	icomoon()
.icon-lock::before
	content icon-locks
	icomoon()
.icon-logout::before
	content icon-logout
	icomoon()
.icon-mail::before
	content icon-mail
	icomoon()
.icon-man-woman::before
	content icon-man-woman
	icomoon()
.icon-medal::before
	content icon-medal
	icomoon()
.icon-menu::before
	content icon-menu
	icomoon()
.icon-minus::before
	content icon-minus
	icomoon()
.icon-modify::before
	content icon-modify
	icomoon()
.icon-money::before
	content icon-money
	icomoon()
.icon-move-vertical::before
	content icon-move-vertical
	icomoon()
.icon-newSection::before
	content icon-newSection
	icomoon()
.icon-next::before
	content icon-next
	icomoon()
.icon-prev::before
	content icon-next
	icomoon()
	transform rotate(180deg)
	display inline-block
.icon-phone::before
	content icon-phone
	icomoon()
.icon-pie-chart::before
	content icon-pie-chart
	icomoon()
.icon-plus::before
	content icon-plus
	icomoon()
.icon-point::before
	content icon-point
	icomoon()
.icon-preview::before
	content icon-preview
	icomoon()
.icon-print::before
	content icon-print
	icomoon()
.icon-profile::before
	content icon-profile
	icomoon()
.icon-radius::before
	content icon-radius
	icomoon()
.icon-random::before
	content icon-random
	icomoon()
.icon-save::before
	content icon-save
	icomoon()
.icon-search::before
	content icon-search
	icomoon()
.icon-send::before
	content icon-send
	icomoon()
.icon-settings::before
	content icon-settings
	icomoon()
.icon-side::before
	content icon-side
	icomoon()
.icon-spinner::before
	content icon-spinner
	icomoon()
.icon-square::before
	content icon-square
	icomoon()
.icon-text::before
	content icon-text
	icomoon()
.icon-time::before
	content icon-time
	icomoon()
.icon-trash::before
	content icon-trash
	icomoon()
.icon-upload::before
	content icon-upload
	icomoon()
.icon-user::before
	content icon-user
	icomoon()
.icon-user-tie::before
	content icon-user-tie
	icomoon()
.icon-users::before
	content icon-users
	icomoon()
.icon-vcard::before
	content icon-vcard
	icomoon()	
///Botones///
.ico-acept
	&::before
		icomoon()
		content icon-correct
		margin-right 10px
		font-size 15px
.ico-add
	&::before
		icomoon()
		content icon-add
		font-size 15px
		margin-right 10px
.ico-allGrap
	&::before
		icomoon()
		content icon-allGrap
		margin-right 10px
		font-size 15px	
.ico-area
	&::before
		icomoon()
		content icon-area-chart
		margin-right 10px
		font-size 15px	
.ico-back
	&::before
		icomoon()
		content icon-flechaAtras
		margin-right 10px
		font-size 15px		
.ico-barrs
	&::before
		icomoon()
		content icon-bars
		margin-right 10px
		font-size 15px	
.ico-cancel
	&::before
		icomoon()
		content icon-cross
		margin-right 10px
		font-size 15px
.ico-change
	&::before
		icomoon()
		content icon-change
		margin-right 10px
		font-size 15px
.ico-chat
	&::before
		icomoon()
		content icon-chat
		margin-right 10px
		font-size 15px
.ico-clipboard
	&::before
		icomoon()
		content icon-clipboard
		margin-right 10px
		font-size 15px			
.ico-columns
	&::before
		icomoon()
		content icon-Colum
		margin-right 10px
		font-size 15px	
.ico-confirm
	&::before
		icomoon()
		content icon-checkbox
		margin-right 10px
		font-size 15px		
.ico-data
	&::before
		icomoon()
		content icon-profile
		margin-right 10px
		margin-top 0px
		margin-bottom 0px
		font-size 15px
.ico-download
	&::before
		icomoon()
		content icon-download
		margin-right 10px
		font-size 20px
.ico-export
	&::before
		icomoon()
		content icon-export
		margin-right 10px
		font-size 15px
.ico-group
	&::before
		icomoon()
		content icon-group
		margin-right 10px
		font-size 15px
.ico-lines
	&::before
		icomoon()
		content icon-line-chart
		margin-right 10px
		font-size 15px	
.ico-login
	&::before
		font-family 'icomoon'
		content icon-key
		margin-right 10px
		font-size 15px
.ico-modify
	&::before
		icomoon()
		content icon-modify
		margin-right 10px
		font-size 15px		
.ico-phone
	&::before
		icomoon()
		content icon-phone
		margin-right 10px
		font-size 15px
.ico-pie
	&::before
		icomoon()
		content icon-pie-chart
		margin-right 10px
		font-size 15px	
.ico-preview
	&::before
		icomoon()
		content icon-preview
		margin-right 10px
		font-size 15px
.ico-print
	&::before
		icomoon()
		content icon-print
		margin-right 10px
		font-size 15px			
.ico-save
	&::before
		icomoon()
		content icon-save
		margin-right 10px
		font-size 15px
.ico-search
	&::before
		icomoon()
		content icon-search
		margin-right 10px
		font-size 15px	
.ico-send
	&::before
		icomoon()
		content icon-send
		margin-right 10px
		font-size 15px
.ico-settings
	&::before
		icomoon()
		content icon-settings
		margin-right 10px
		font-size 15px
.ico-upload
	&::before
		icomoon()
		content icon-upload
		margin-right 10px
		font-size 15px	