.datos-login
	background-color #19191f
	border 1px solid #121217
	box-shadow 20px 20px 20px 0 rgba(0, 0, 0, 0.5)
	height 512px
	margin-top 13%
	width 427px
	button
		background-color #35deaf !important
		border none !important
		border-radius 50px !important
		box-shadow 0 4px 0 0 #14614b !important
		color #19191f !important
		font-size 18px !important
		width 100%
	img
		margin-bottom 64px !important		
		margin-top 31px
		width 381px
	input
		background-color #121216			
		border none
		border-radius 50px
		box-shadow inset 0 3px 0 0 rgba(0, 0, 0, 0.5) !important
		color #fff
		font-size 18px !important
		height 55px
		text-align center !important
		width 349px
		&::-webkit-input-placeholder
			color #fff
			font-size 18px !important
			text-align center
		&:focus
			background-color #121216 !important
	label
		color white
		font-size 17px
		margin-bottom 6px
		margin-top -13px
		text-align center
	span
		&.logoLoginLetra
			color #fff
			font-size 40px
			left 130px
			position absolute
			top 133px
.logoLetra
	height 17px !important
	position absolute
	right -112px
	top 17px
	width 150px !important