@-moz-keyframes spin
	0%
		-moz-transform: rotate(0deg)
	100%
		-moz-transform: rotate(359deg)

@-webkit-keyframes spin
	0%
		-webkit-transform: rotate(0deg)
	100%
		-webkit-transform: rotate(359deg)

@-o-keyframes spin
	0%
		-o-transform: rotate(0deg)
	100%
		-o-transform: rotate(359deg)

@-ms-keyframes spin
	0%
		-ms-transform: rotate(0deg)
	100%
		-ms-transform: rotate(359deg)

@keyframes spin
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(359deg)
.icon-spin
	-webkit-animation spin 2s infinite linear
	-moz-animation spin 2s infinite linear
	-o-animation spin 2s infinite linear
	animation spin 2s infinite linear

.loading
	background-color rgba(30, 30, 30, 0.5)
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index 2000

	label 
		background-color #DEDEDE
		border 1px solid #333
		color #333
		font-size 1.1em
		left 45%
		padding 0.5em 1em
		position absolute
		top 45%

		i
			color #333