.logoCavinsa
	img
		width 200px	!important
		position absolute !important
		top 0px !important
.addressFix
	margin-top 100px !important
.formFix
	width 100% !important
	input.campo
		width 100% !important		
	select
		width 100% !important
		height 31px !important
	textarea
		width 100% !important
		height 130px !important
.alertFix
	text-align center !important
	padding 0px !important
.alert-box
	border-style solid
	border-width 1px
	display block
	font-size 16px
	font-weight normal
	margin-bottom 1.11111rem
	padding 0.77778rem 1.33333rem 0.77778rem 0.77778rem
	position relative
	transition opacity 300ms ease-out
	background-color #008CBA
	border-color #0078a0
	color #FFFFFF
	
	&.warning
		background-color #FAC11C !important
		border-color #FAC11C !important
		color #FFFFFF !important
.is-hidden
	display none !important

ul
	li
		&.active
			a
				color #fff !important
				background-color #e9ad01 !important
.price-del
	text-decoration line-through
	color #D5D3CC
	padding-right 10px
.fixCategoria
	cursor pointer !important

		