<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>  	
    <h1><%= @user[:nombre] %></h1>
    <label><b>Categoria: </b><%= @user[:categoria] %></label>
    <p>
      <%= @user[:mensaje] %>
    </p>
  </body>
</html>
