<section id="autores">
	<div class="titulo">
		<h3>Catálogos | <b>Autores</b></h3>
	</div>
	<div class="row">
		<table class="gvDatos"></table>
	</div>
	<div class="large modal-save reveal-modal reveal-custom small" data-reveal='data-reveal'>
		<div class="pop-head">
			<label>Autores<label>
		</div>
		<form class="form-data pop-body" enctype="multipart/form-data" data-abide>
			<div class="row">
				<div class="small-3 columns">
					<div class="up-foto" data-field="foto">
					</div>
				</div>
				<div class="small-9 columns">
					<div class="row">
						<div class="small-12 columns">
							<label>
								Nombre: <small>requerido</small>
								<input type="text" placeholder="Nombre" tabindex="1" data-field="nombre" maxlength="100" required/>
							</label>
							<small class="error">Este campo es requerido</small>
						</div>					
					</div>
					<div class="row">
						<div class="small-6 columns">
							<label>
								Facebook:
								<input type="text" placeholder="Facebook" data-field="facebook"required/>
							</label>
							<small class="error">Este campo es requerido</small>
						</div>
						<div class="small-6 columns">
							<label>
								Twitter:
								<input type="text" placeholder="Twitter" data-field="twitter"/>
							</label>
						</div>
						<div class="small-12 columns">
							<label>
								Información:
								<textarea placeholder="informacion" tabindex="3" data-field="informacion" maxlength="4000"></textarea>
							</label>
							<small class="error">Este campo es requerido</small>
						</div>				
					</div>
				</div>
			</div>
		</form>
		<br/>
		<div class="row pop-footer">
			<div class="small-12 columns">
				<button type="button" class="btn-aceptar tiny success button ico-guardar">Guardar</button>
				<button type="button" class="btn-cancelar tiny alert button ico-cancelar">Cancelar</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<button type="button" class="btnAdd btn-nuevo button tiny aceptar success ico-agregar">Agregar</button>
			<button type="button" class="btn-modificar  button tiny modificar ico-modificar">Modificar</button>
			<button type="button" class="btn-eliminar  button tiny cancelar alert ico-cancelar">Eliminar</button>			
		</div>
	</div>	
</section>
