<section id="configuraciones">
	<div class="titulo">
		<h3>General | <b>Configuraciones</b></h3>
	</div>
	<form class="form-data" enctype="multipart/form-data" data-abide>
		<div class="row">
			<div class="small-3 columns">
				<div class="up-foto" data-field="foto">
				</div>
			</div>
			<div class="small-9 columns">
				<div class="row">
					<div class="small-4 columns">
						<label>
							Facebook:
							<input type="text" placeholder="Facebook..." data-field="facebook"/>
						</label>
					</div>
					<div class="small-4 columns">
						<label>
							Twitter:
							<input type="text" placeholder="Twitter..." data-field="twitter" />
						</label>
					</div>
					<div class="small-4 columns">
						<label>
							Correo:
							<input type="text" placeholder="Correo..." data-field="correo" />
						</label>
					</div>
					<div class="small-6 columns">
						<label>
							Dirección:
							<input type="text" placeholder="Dirección..." data-field="direccion"/>
						</label>
					</div>
					<div class="small-6 columns">
						<label>
							Teléfono:
							<input type="text" placeholder="Teléfono..." data-field="telefono"/>
						</label>
					</div>					
					<div class="small-12 columns">
						<label>
							Frase:
							<input type="text" placeholder="Frase..." data-field="titulo" maxlength="300" />
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label>
							Texto:
							<textarea placeholder="Texto" data-field="texto"></textarea>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<button type="button" class="btn-save tiny button success">Guardar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>