<section id="secciones_articulos">
	<div class="titulo">
		<h3>Secciones | <b>Artículos</b></h3>
	</div>
	<div class="row">
		<table class="gvDatos"></table>
	</div>
	<div class="large modal-save reveal-modal reveal-custom small" data-reveal='data-reveal'>
		<div class="pop-head">
			<label>Artículos<label>
		</div>
		<form class="form-data pop-body" enctype="multipart/form-data" data-abide>
			<div class="row">
				<div class="small-3 columns">
					<div class="up-foto" data-field="foto">
					</div>
				</div>
				<div class="small-9 columns">
					<div class="row">
						<div class="small-12 columns">
							<label>
								Nombre: <small>requerido</small>
								<input type="text" placeholder="Nombre" tabindex="1" data-field="nombre" maxlength="100" required/>
							</label>
							<small class="error">Este campo es requerido</small>
						</div>					
					</div>
					<div class="row">
						<div class="small-6 columns">
							<label>
								Vigencia:
								<input type="text" placeholder="YYYY-MM-DD" tabindex="4" data-field="vigencia" class="date" maxlength="10" required/>
							</label>
							<small class="error">Este campo es requerido</small>
						</div>
						<div class="small-6 columns">
							<label>
								Sección:
								<input type="text" placeholder="Categoria" data-field="idEspecial" data-include="especial" class="tya" required/>
							</label>
							<small class="error">Este campo es requerido</small>
						</div>					
					</div>
					<div class="row">
						<div class="small-12 columns">
							<label>
								Ubicación:
								<input type="text" placeholder="Latitud" data-field="latitud" required/>
							</label>
							<small class="error">Este campo es requerido</small>
						</div>										
						<!-- <div class="small-6 columns">
							<label>
								Longitud:
								<input type="text" placeholder="Longitud" data-field="longitud" required/>
							</label>
							<small class="error">Este campo es requerido</small>
						</div> -->					
					</div>					
					<div class="row">
						<div class="small-12 columns">
							<label>
								Texto:
								<textarea placeholder="Texto" tabindex="3" data-field="texto" maxlength="4000"></textarea>
							</label>
						</div>
					</div>
				</div>
			</div>
		</form>
		<br/>
		<div class="row pop-footer">
			<div class="small-12 columns">
				<button type="button" class="btn-aceptar tiny success button ico-guardar">Guardar</button>
				<button type="button" class="btn-cancelar tiny alert button ico-cancelar">Cancelar</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<button type="button" class="btnAdd btn-nuevo button tiny aceptar success ico-agregar">Agregar</button>
			<button type="button" class="btn-modificar  button tiny modificar ico-modificar">Modificar</button>
			<button type="button" class="btn-eliminar  button tiny cancelar alert ico-cancelar">Eliminar</button>			
		</div>
	</div>

	<div class="large modal-anuncios reveal-modal reveal-custom small" data-reveal='data-reveal'>
		<div class="pop-head">
			<label>Anuncios<label>
		</div>
		<form class="form-data formAnuncio pop-body" enctype="multipart/form-data" data-abide>
			<div class="small-12 columns">
				<label>
					Anuncios:
					<input type="text" placeholder="anuncio" data-field="idAnuncio" class="tya" required/>
				</label>
				<small class="error">Este campo es requerido</small>
			</div>
			<div class="small-12 columns">
				<div class="gvAnuncios"></div>
			</div>
		</form>
		<br/>
		<div class="row pop-footer">
			<div class="small-12 columns">
				<button type="button" class="btn-aceptar tiny success button ico-guardar">Guardar</button>
				<button type="button" class="btn-cancelar tiny alert button ico-cancelar">Cancelar</button>
			</div>
		</div>
	</div>
	<div class="large modal-fotos  reveal-modal reveal-custom small" data-reveal='data-reveal'>
		<div class="pop-head">
			<label>Fotos<label>
		</div>
		<form class="form-data formFoto pop-body" enctype="multipart/form-data" data-abide>
			<div class="small-12 columns">
				<label>
					Fotos:
					<input type="text" placeholder="Foto" data-field="idGaleria" class="tya" required/>
				</label>
				<small class="error">Este campo es requerido</small>
			</div>
			<div class="small-12 columns">
				<div class="gvFotos"></div>
			</div>
		</form>
		<br/>
		<div class="row pop-footer">
			<div class="small-12 columns">
				<button type="button" class="btn-aceptar tiny success button ico-guardar">Guardar</button>
				<button type="button" class="btn-cancelar tiny alert button ico-cancelar">Cancelar</button>
			</div>
		</div>
	</div>
	<script type="text/x-handlebars-template" class="tmp_anuncios">
		<table>
			<thead>
				<tr class="titulo">
					<th class="min">Opciones</th>
					<th>Anuncios</th>
				</tr>
			</thead>
			<tbody>
				{{#datos}}
						<tr>
							<td class="min"><i class="icon-cross delete" data-idpostanuncio={{idPostAnuncio}}></i></td>
							{{#anuncio}}
								<td>{{titulo}}</td>
							{{/anuncio}}
						</tr>
				{{/datos}}
			</tbody>
		</table>
	</script>
	<script type="text/x-handlebars-template" class="tmp_fotos">
		<table>
			<thead>
				<tr class="titulo">
					<th class="min">Opciones</th>
					<th>Fotos</th>
				</tr>
			</thead>
			<tbody>
				{{#datos}}
						<tr>
							<td class="min"><i class="icon-cross delete" data-galeria={{idPostFoto}}></i></td>
							{{#galeria}}
								<td>{{titulo}}</td>
							{{/galeria}}
						</tr>
				{{/datos}}
			</tbody>
		</table>
	</script>
</section>
