<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="assets/favicon.png">
		<title>Cavinsa</title>
		<link rel="stylesheet" href="/assets/normalize.css">
		<link rel="stylesheet" href="/assets/a_typeahead.css">
		<link rel="stylesheet" href="/assets/jquery.datetimepicker.css">
		<link rel="stylesheet" href="/assets/foundation.min_v5.css">
		<link rel="stylesheet" href="/assets/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/icomoon.css">
		<link rel="stylesheet" href="/assets/stylus/main.css">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="/assets/deps/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/assets/deps/mousetrap.js"></script>
		<script type="text/javascript" src="/assets/deps/mousetrap-bind-dictionary.min.js"></script>
		<script type="text/javascript" src="/assets/deps/jquery.datetimepicker.js"></script>
		<script type="text/javascript" src="/assets/graf/highcharts.js"></script>
		<script type="text/javascript" src="/assets/deps/jquery.mask.js"></script>
		<script type="text/javascript" src="/assets/deps/lodash.underscore.min.js"></script>
		<script type="text/javascript" src="/assets/deps/backbone-min.js"></script>
		<script type="text/javascript" src="/assets/deps/vendor/modernizr.js"></script>
		<script type="text/javascript" src="/assets/deps/foundation.min_v5.js"></script>
		<script type="text/javascript" src="/assets/deps/squire-raw.js"></script>

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
	  <style type="text/css" media="screen">
		span {
		    cursor: pointer;
		    /*text-decoration: underline;*/
		  }
		#editor {
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			min-height: 200px;
			border: 1px solid #888;
			padding: 1em;
			background: transparent;
			color: #2b2b2b;
			font: 13px/1.35 Helvetica, arial, sans-serif;
			cursor: text;
		}
		 blockquote {
		    border-left: 2px solid blue;
		    margin: 0;
		    padding: 0 10px;
		  }
	  </style>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<section class="head-left unPointer">
				<img src="/assets/logow.png"/>                      
			</section>          
			<section class="head-right">                
				<ul class="user-options">
					<li class="area-user">
						<a class="user-info">
							<span class="circle-usuario">
								<img src="/assets/logoUser.png"/>
							</span>
							<span class="userInfo">
								<b>Cavinsa</b>
							</span>							
							<i class="fa fa-fw fa-chevron-down menuOpen"></i>
						</a>
					</li>
				</ul>
			</section>
		</header>
		<ul class="user-menu">          
			<li>
				<a href="/usuarios/logout">
					<i class="fa fa-sign-out"></i> Salir
				</a>
			</li>
		</ul>
		<input type="text" data-info="user" class="is-hidden is-used-user" />

		<nav class="navigation">            
			<ul class="menu-n1">
				<li><a href="#productos">Productos</a></li>
				<li><a href="#categorias">Categorias</a></li>
			</ul>           
		</nav>

		<main>
			<section id="load_content">
			</section>
		</main>

		<div class="wrap-layer">
		</div>

		<div class="pnl-print is-hidden"></div>
		  
		<section class="loading">
			<label>
				<i class="icon-spinner tya-loading icon-spin"></i> Cargando...
			</label>
		</section>

		<section class="pnlAlert warning ">
		</section>

		<div id="popConfirmacion" class="reveal-modal tiny popConfirmacion reveal-custom" data-reveal="data-reveal">
			<section class="pop-head">
				<label>Eliminar</label>
			</section>
			<section class="pop-body">
				<label class='pregunta'>¿Desea eliminar el registro seleccionado?</label>
			</section>
			<section class="pop-footer">
				<button type="button" class="button success tiny btn-aceptar aceptar-btn">Aceptar</button>
				<button type="button" class="button alert tiny btn-cancelar cancelar-btn">Cancelar</button>
			</section>
		</div>

		<div class="reveal-modal tiny reveal-custom" id="popAdvertencia" data-reveal>
			<section class="pop-head">
				<label>Advertencia</label>
			</section>
			<section class="pop-body text-left">
				<label class="mensaje"></label>
			</section>
			<section class="pop-footer">
				<button type="button" class="button tiny success custom-button btn-aceptar aceptar-btn">Aceptar</button>
			</section>
		</div>

		<div class="reveal-modal medium reveal-custom" id="popHelperTya" data-reveal>
			<section class="pop-head">
				<label>Busqueda</label>
			</section>
			<section class="pop-body text-left">
				<table class="table table-custom gv-hya">
				</table>
			</section>
			<section class="pop-footer">
				<button type="button" class="button alert tiny btn-cancelar cancelar-btn">Cancelar</button>
			</section>
		</div>

		<script type="text/template-handlebars-x" class="tmp_table_hya">
			<thead>
				<tr class="titulo">
					{{#keys}}
					<th>
						<span>{{.}}</span>
					</th>
					{{/keys}}
				</tr>
			</thead>
			<tbody>
				{{#rows}}
				<tr data-info="{{toJSON .}}">
					{{#each .}}
						{{#notCol @key}}
							<td>{{.}}</td>
						{{/notCol}}
					{{/each}}
				</tr>
				{{/rows}}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="{{long}}">
						<a href="#" class="prev-hya"><i class="icon-prev"></i> Anterior</a> | 
						<a href="#" class="next-hya"><i class="icon-next"></i> Sigiente</a>
					</td>
				</tr>
			</tfoot>
		</script>

		<script type="text/template-handlebars-x" class="tmp_ul_menus_bs">
			{{#menus}}
				{{#if menus}}
					<li class="has-submenu">
						<a href="#{{pagina}}">{{nombre}} <i class="icon-plus"></i></a>
						<ul class="menu-n2">
							{{#menus}}
								<li><a href="#{{pagina}}">{{nombre}}</a></li>
							{{/menus}}
						</ul>
					</li>
				{{else}}
					<li><a href="#{{pagina}}">{{nombre}}</a></li>
				{{/if}}
			{{/menus}}
		</script>

		<script type="text/javascript">
			window._token = '<%= form_authenticity_token %>';
			window.usuario = JSON.parse('<%= @usuario.as_json %>'.replace(/&quot;/g, '\"').replace(/=&gt;/g, ':').replace(/nil/g, '""'));
		</script>
		<%= requirejs_include_tag "main" %>
		<!--script type="text/javascript" data-main="assets/main" src="assets/deps/require.js"></script-->
	</body>
</html>